
  <main id="main" class="main-page">

    <!-- ======= Speaker Details Sectionn ======= -->
    <section id="speakers-details">
      <div class="container">
        <div class="section-header">
          <h2>About Us</h2>
          <p>About The Everything Technology Blog</p>
        </div>



          <div class="col-md-6">
            <div class="details">
              <h2>Tech Blog</h2>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
              <p>We are extremely happy to create a tech blog that offers ground breaking news and research contributed by our users. </p>

              <p>We hope to advance our knowledge and the knowledge of the community in general, encouraging more persons to become involved and contribute.</p>

              <p>Please create an account and get started, even if you are not ready to contribute, you will surely be exposed to a whole world of information and knowledge getting you one step closer to the next groundbreaking creation to share with us.</p>
            </div>
          </div>

        </div>
      </div>

    </section>

  </main><!-- End #main -->

  