

 
    <!-- ======= Speakers Section ======= -->
    <section id="speakers">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Latest News</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img id='image1' alt="Speaker 1" class="img-fluid">
              <div class="details">
                <a id="url1"><p id="title1"></p></a>
                
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="200">
              <img id='image2' alt="Speaker 2" class="img-fluid">
              <div class="details">
                <a id="url2"><p id="title2"></p></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="300">
              <img id='image3' alt="Speaker 3" class="img-fluid">
              <div class="details">
                <a id="url3"><p id="title3"></p></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img id='image4' alt="Speaker 4" class="img-fluid">
              <div class="details">
                <a id="url4"><p id="title4"></p></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="200">
              <img id='image5' alt="Speaker 5" class="img-fluid">
              <div class="details">
                <a id="url5"><p id="title5"></p></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="300">
              <img id='image6' alt="Speaker 6" class="img-fluid">
              <div class="details">
                <a id="url6"><p id="title6"></p></a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section><!-- End Speakers Section -->

     <script src="./javascript/homepage.js"></script>

