    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-bg">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Log Into Your Account</h2>
          <p>Thanks For Your Continued Support Of Our Blog</p>
        </div>

        <div class="form">
          <form role="form" class="php-email-form">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="email-login" placeholder="Email" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control"  id="password-login" placeholder="Password" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
            </div>
            <div class="text-center"><button type="submit">Log In</button></div>
          </form>
        </div>

      </div>
    </section><!-- End Contact Section -->

<script src="./javascript/login.js"></script>